<div class="row">
  <div class="alert col-md-12">
    <h4 class="alert-heading"><%= @chat_room.title %></h4>
    <hr>
    <h6>Description</h6>
    <p class="mb-0"><%= @chat_room.description %></p>
  </div>
</div>
